<div style="clear: both;"></div>
<footer style="padding-top: 1em">
  <div style="display: flex; justify-content: center; flex-wrap: wrap">

    <div style="display: flex;">
      <div style="padding-right: 1em; padding-left: 1em">
        <div style="justify-content: space-evenly">
          <span style="font-weight: 300; font-size: larger;">Help</span>
        </div>
        <div style="justify-content: space-evenly; padding-top: 20px;">
          <a href="https://docs.foxypool.io/chia-dashboard-satellite/" target="_blank" class="link highlight">
            Documentation (Foxypool)
          </a>
          <br>
          <a href="https://discord.gg/gNHhn9y" target="_blank" class="link highlight">
            Discord
          </a>
          <br>
          <a href="#" target="_blank" class="link highlight">
            FAQ (in progress)
          </a>
          <br>
        </div>
      </div>
    </div>

 


  </div>
  <div style="text-align: center; padding-bottom: 4px; padding-top: 1em">
    &copy; 2021 NetMan & Giro, based on the Sourcecode of Foxy
  </div>
</footer>
